:root {
  --background-color: #b1eeb0;
  --secondary-background-color: #ffffff;

  --button-color: #6aafef;
  --button-color-hover: #4a90d2;

  --locked: #f36060;
  --unlocked: #53c951;
  --pending: #8c8c8c;
  /* --primary-button-color: #53C951;
      --primary-button-color-darker: #38af36;
      --secondary-button-color: #F36060;
      --secondary-button-color-darker: #b20000;
      --tertiary-button-color: #6AAFEF;
      --tertiary-button-color-darker: #0065d0; */

  --text-color: #000000;
  --secondary-text-color: #ffffff;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --icon-sm: 20px;
  --icon-md: 24px;
  --icon-lg: 40px;
  --icon-xl: 48px;
}
