/* custom variables */

:root {
  --primary-color: #92d1e0;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

/* reset */

*, html, ul {
  margin: 0;
  padding: 0;
}

figure {
  margin-bottom: 0; /* doesn't work */
}

h1, h2, h3 {
  font-family: 'Titan One', sans-serif;
}

p, button, a, figcaption {
  font-family: 'Averia Serif Libre', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

body {
  background: var(--primary-color); /* doesn't work */
}

/* header */

header {
  height: 4rem;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

header .logo-container figcaption {
  align-self: center;
}

/* main */

.controls {
  text-align: center;
}


/*
body {
    background-color: var(--primary-color); 
    font-family: "CustomFont";
  }

@font-face {
    font-family: "CustomFont"; 
    src: url('../fonts/Toadler.ttf') format('truetype');
}
  
button {
    font-family: "CustomFont";
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

button.turn-off-button {
    background-color: #FF0000;
}

button:hover {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}

.column {
    margin: 10px;
}

h2 {
    text-align: center;
}
.status {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.timer-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 40px;
  }
  
.timer-container div {
    margin-bottom: 10px;
}

#speed-display {
    position: absolute;
    text-align: center; 
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 58px;
    font-size: 40px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .logo-container span {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  
  #start-game-button,
  #end-game-button {
      background-color: #007bff; 
      margin: 10px;
      margin-top: 20px;
      width: 150px;
  }
  #start-game-button:hover,
  #end-game-button:hover {
    background-color: black;
  }
  #slow-down-button {
    position: absolute;
    top: 175px;
    right: 0;
    width: 150px; 
    margin: 10px;
  }
  #speed-up-button {
    position: absolute;
    top: 175px;
    right: 185px;
    width: 150px; 
    margin: 10px;
  }
  #reset-button {
    position: absolute;
    top: 225px;
    right: 92.5px;
    width: 150px; 
    margin: 10px;
  } */