/* custom variables */

:root {
  --background-color: #92d1e0;

  --primary-button-color: #4CAF50;
  --secondary-button-color: #FF0000;
  --tertiary-button-color: #007bff;

  --text-color: #000000;
  --secondary-text-color: #ffffff;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

/* reset */

*, html, ul {
  margin: 0;
  padding: 0;
}

figure {
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: 'Titan One', sans-serif;
}

p, button, a, figcaption, strong {
  font-family: 'Averia Serif Libre', sans-serif;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

body {
  background: var(--background-color);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* buttons */

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--secondary-text-color);
  align-items: center;
}

.main-button {
  background: var(--primary-button-color);
}

.secondary-button {
  background: var(--secondary-button-color);
}

.tertiary-button {
  background: var(--tertiary-button-color);
}

/* header */

header {
  height: 4rem;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

header .logo-container figcaption {
  align-self: center;
}

/* main */

.control-container, .time-container {
  text-align: center;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 15px;
}

.time-container {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  gap: 20px;
}

.control-container .lock-container, .game-buttons, .media-control, .media-play, .pi-reboot {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.control-container .lock-container {
  gap: 10px;
}

.control-container .lock-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.control-container .game-buttons, .media-control, .media-play, .pi-reboot {
  flex-direction: column;
}

.control-container .game-buttons div, .media-control div, .media-play div, .pi-reboot div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons button {
  width: 100%;
}

.control-container .media-play .buttons {
  flex-direction: column; 
}

.time-container .speed-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.time-container .speed-buttons button {
  width: 100%;
}


/* .control-container .game-buttons, .media-control, .media-play, .pi-reboot div button {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/*

.control-container .lock-container div, .game-buttons button, .media-buttons button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.control-container .media-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.time-container .speed-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.time-container .speed-buttons button {
  width: 100%;
} */

/* footer */

footer {
  text-align: center;
  font-style: italic;
  margin: 20px 0 15px 0;

}


/*
body {
    background-color: var(--primary-color); 
    font-family: "CustomFont";
  }

@font-face {
    font-family: "CustomFont"; 
    src: url('../fonts/Toadler.ttf') format('truetype');
}
  
button {
    font-family: "CustomFont";
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

button.turn-off-button {
    background-color: #FF0000;
}

button:hover {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}

.column {
    margin: 10px;
}

h2 {
    text-align: center;
}
.status {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.timer-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 40px;
  }
  
.timer-container div {
    margin-bottom: 10px;
}

#speed-display {
    position: absolute;
    text-align: center; 
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 58px;
    font-size: 40px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .logo-container span {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  
  #start-game-button,
  #end-game-button {
      background-color: #007bff; 
      margin: 10px;
      margin-top: 20px;
      width: 150px;
  }
  #start-game-button:hover,
  #end-game-button:hover {
    background-color: black;
  }
  #slow-down-button {
    position: absolute;
    top: 175px;
    right: 0;
    width: 150px; 
    margin: 10px;
  }
  #speed-up-button {
    position: absolute;
    top: 175px;
    right: 185px;
    width: 150px; 
    margin: 10px;
  }
  #reset-button {
    position: absolute;
    top: 225px;
    right: 92.5px;
    width: 150px; 
    margin: 10px;
  } */