@import "helpers/_variables";
@import "helpers/_buttons";
@import "partials/_landingpage";
@import "partials/_global";
@import "partials/_nav";
@import "partials/_popups";
@import "partials/_lightcontrol";
@import "partials/_retriever";

/*
  ########
  sections
  ########
  */

.control-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-row-gap: 20px;
  // .light-container {
  //   grid-area: 1/2;
  // }
  // .tasks {
  //   grid-area: 2/2;
  // }
  // .locks {
  //   grid-area: 3/2;
  // }
  // .lock-status {
  //   grid-area: 4/2;
  //   // align-self: baseline;
  // }
  // .pin-info {
  //   grid-area: 5/2;
  // }
}

// .control-container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   // grid-template-rows: repeat(4, 1fr);
//   .light-container {
//     grid-area: 1/3;
//   }
//   .tasks {
//     grid-area: 1/2;
//   }
//   .locks {
//     grid-area: 2/2;
//   }
//   .lock-status {
//     grid-area: 3/2;
//     align-self: baseline;
//   }
//   .pin-info {
//     grid-area: 4/2;
//   }
// }
