<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retriever</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addons/bootstrap.css')}}"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
    <link rel="icon" href="static/img/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    
</head>
<body>

    <h1>Maglock Control</h1>
    <div class="button-container">
        <div class="column">
            <h2>Lock</h2>
            <button class="turn-on-button" data-maglock="1">entrance-door-lock</button>
            <button class="turn-on-button" data-maglock="2">doghouse-lock</button>
        </div>
        <div class="column">
            <h2>Unlock</h2>
            <button class="turn-off-button" data-maglock="0">entrance-door-lock</button>
            <button class="turn-off-button" data-maglock="-1">doghouse-lock</button>
        </div>
    </div>
    <div class="game-container">
        <button id="start-game-button">Start Game</button>
        <button id="end-game-button">End game</button>
        <button id="pause-button">Pause Game</button>
        <button id="continue-button" style="display: none;">Continue Game</button>
        <div class="timer-container">
            <div>
                <span>Time Played:</span>
                <span id="time-played">0:00</span>
            </div>
        </article>

        <article class="media-control">
            <h2>Control media</h2>

            <div class="buttons">
                <button id="add-music-button" class="main-button">Add media to the PI</button>
                <button onclick="openMediaControlPage()" class="main-button">Control Media</button>           
            </div>
        </article>

        <article class="media-play">
            <h2>Play media</h2>

            <div class="buttons">

                <div class="button-container">
                    <button id="select-file-button" class="main-button">Select Song</button>
                    <button id="pause-music-button" class="main-button">Pause Music</button>
                </div>
                <div class="button-container">
                    <button id="resume-music-button" class="main-button">Resume Music</button>
                    <button id="stop-music-button" class="main-button">Force stop music</button>
                </div>
            </div>
        </article>

        <article class="pi-reboot">
            <h2>Pi reboot</h2>

            <div class="buttons">
                <button id="reboot-pi-mag" class="main-button">Reboot maglock pi</button>
                <button id="reboot-pi-music" class="main-button">Reboot music pi</button>
            </div>
        </article>

        <article class="lock-status">
            <h2>Maglock status</h2>
            <div>
                <p>Maglock 1 Status: <strong id="maglock1-status">Locked</strong></p>
                <p>Maglock 2 Status: <strong id="maglock2-status">Locked</strong></p>
            </div>
        </article>

        <article id="current-state">
            <p>Walkman: {{ state }}</p>
        </article>

    </section>

    <section class="time-container">

        <h2>Time controls</h2>

        <article class="time">
            <p>Time Played: <strong id="time-played">0:00</strong></p>
            <p>Time Left: <strong id="time-left">60:00</strong></p>
            <p id="speed-display">Timer Speed: 1x</p>
        </article>

        <article class="speed-buttons">
            <div class="speed-up-slow-down">
                <button id="speed-up-button" class="main-button">Speed Up</button>
                <button id="slow-down-button" class="main-button">Slow Down</button>
            </div>
            <div class="reset-speed">
                <button id="reset-button" class="main-button">Reset Speed</button>
            </div>
        </article>

    </section>

    <footer>
        <p>The Brink Escaperooms</p>
    </footer>

    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
</body>
</html>
