<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Maglock Control</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="static/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="logo-container">
        <img src="static/favicon.png" alt="Logo">
        <span>A-Moebe Beta</span>
    </div>
</head>
<body>

    <h1>Maglock Control</h1>
    <div class="button-container">
        <div class="column">
            <h2>Lock</h2>
            <button class="turn-on-button" data-maglock="1">entrance-door-lock</button>
            <button class="turn-on-button" data-maglock="2">doghouse-lock</button>
        </div>
        <div class="column">
            <h2>Unlock</h2>
            <button class="turn-off-button" data-maglock="0">entrance-door-lock</button>
            <button class="turn-off-button" data-maglock="-1">doghouse-lock</button>
        </div>
    </div>
    <div class="game-container">
        <button id="start-game-button">Start Game</button>
        <button id="end-game-button">End game</button>
        <div class="timer-container">
            <div>
                <span>Time Played:</span>
                <span id="time-played">0:00</span>
            </div>
            <div>
                <span>Time Left:</span>
                <span id="time-left">60:00</span>
            </div>
        </div>
        <div class="button-container">
            <button id="speed-up-button">Speed Up</button>
            <button id="slow-down-button">Slow Down</button>
        </div>
        <div class="button-container">
            <button id="reset-button">Reset Speed</button>
            <div id="speed-display">Timer Speed: 1x</div>
        </div>
        <div class="button-container">
            <button id="select-file-button">Select Song</button>
            <button id="pause-music-button">Pause Music</button>
            <button id="resume-music-button">Resume Music</button>
            <button id="stop-music-button">Force stop music</button>
            <button id="add-music-button">Add media to the PI</button>
            <button onclick="openMediaControlPage()">Control Media</button>
        </div>
        <div class="button-container">
            <button id="reboot-pi-mag">Reboot maglock pi</button>
            <button id="reboot-pi-music">Reboot music pi</button>
        </div>
        <div>
            <h3>Maglock 1 Status: <span id="maglock1-status"></span></h3>
          </div>
          
          <div>
            <h3>Maglock 2 Status: <span id="maglock2-status"></span></h3>
          </div>
    </div>
    <div id="current-state">
        <p>Walkman: {{ state }}</p>
    </div>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script>
</body>
</html>
