<!DOCTYPE html>
<html>
<head>
    <title>List Sensors</title>
</head>
<body>
    <h1>List of Sensors</h1>
    <table>
        <tr>
            <th>Sensor Name</th>
            <th>Type</th>
            <th>Pin</th>
            <th>Raspberry Pi</th>
            <th>State</th>
        </tr>
        {% for sensor in sensors %}
        <tr>
            <td>{{ sensor.name }}</td>
            <td>{{ sensor.type }}</td>
            <td>{{ sensor.pin }}</td>
            <td>{{ sensor.pi }}</td>
            <td>{{ sensor.state }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/add_sensor">Add Sensor</a>
</body>
</html>
