<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escape Room Module Information</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylespins.css') }}">
</head>
<body>
  <div class="header">
    <h1>Escape Room Module Information</h1>
  </div>


  <div class="module">
    <h2>Top-pi</h2>
    <p><strong>4x4 Matrix Keypad Module</strong></p>
    <table>
      <tr>
        <th>Row pins</th>
        <th>Column pins</th>
      </tr>
      <tr>
        <td>Pin 12</td>
        <td>Pin 19</td>
      </tr>
      <tr>
        <td>Pin 16</td>
        <td>Pin 26</td>
      </tr>
      <tr>
        <td>Pin 20</td>
        <td>Pin 7</td>
      </tr>
      <tr>
        <td>Pin 21</td>
        <td>Pin 1</td>
      </tr>
    </table>
    <p><strong>Entrance door sensor:</strong> Pin 14 + GND</p>
    <p><strong>NOTE:</strong> Elke maglock heeft zijn eigen power supply nodig van 12W (12V, 1A), dit wordt verder niet beschreven.</p>
    <p><strong>Entrance door lock (relay):</strong> Pin 17 + GND</p>
    <p><strong>Whatever door lock (relay):</strong> Pin 27 + GND</p>

    <table>
      <tr>
        <th><strong>RFID module</strong></th>
        <th><strong>Raspberry Pi</strong></th>
      </tr>
      <tr>
        <td>SDA</td>
        <td>Pin 8</td>
      </tr>
      <tr>
        <td>SCK</td>
        <td>Pin 11</td>
      </tr>
      <tr>
        <td>MOSI</td>
        <td>Pin 10</td>
      </tr>
      <tr>
        <td>MISO</td>
        <td>Pin 9</td>
      </tr>
      <tr>
        <td>IRQ</td>
        <td>Not connected</td>
      </tr>
      <tr>
        <td>GND</td>
        <td>GND</td>
      </tr>
      <tr>
        <td>RST</td>
        <td>Pin 25</td>
      </tr>
      <tr>
        <td>3.3V</td>
        <td>3.3V</td>
      </tr>
    </table>
  </div>
  </div>
  
  <div class="module">
    <h2>Middle-pi</h2>
    <p><strong>Magnet Sensor 1:</strong> Pin 14 + GND</p>
    <p><strong>Magnet Sensor 2:</strong> Pin 15 + GND</p>
  </div>
  
  <div class="module">
    <h2>Tree-pi</h2>
    <p><strong>Green house</strong></p>
    <p><strong>IR Sensor:</strong> Pin 14 + VCC(5v) + GND</p>
    <p><strong>LEDs:</strong> Pin 15 + GND</p>
    <p><strong>Red house</strong></p>
    <p><strong>IR Sensors:</strong> Pin 20 + VCC(5v) + GND</p>
    <p><strong>LEDs:</strong> Pin 21 + GND</p>
    <p><strong>Blue house</strong></p>
    <p><strong>IR Sensors:</strong> Pin 18 + VCC(5v) + GND</p>
    <p><strong>LEDs:</strong> Pin 23 + GND</p>
  </div>

  <div class="module gpio-info">
    <h2>Understanding GPIO Pins</h2>
    <p>General Purpose Input/Output (GPIO) pins op deze pi's worden gebruikt om verschillende modules aan te sluiten en te gebruiken.</p>
    <p>Als je de draden wilt aansluiten op de juiste pins, is het belangrijk om te kijken naar het <strong>GPIO nummer, niet de fysieke pin zelf.</strong></p>
    <p>Hierboven staat beschreven exact welke draden waarheen zouden moeten gaan. Als iets niet werkt, kun je hertraceren of ze nog aangesloten zijn.</p>
    <p>Let wel op, sommige modules hebben een "VCC" en een "GND", het staat niet beschreven waar ze aangesloten zijn, omdat het niet persé uitmaakt waar (zolang maar wel aan GND of VCC).</p>
    <p>Hieronder een foto van welke pin exact waar zit (dit is identiek voor de 3b, 3b+ en 4b):</p>
    <img src="{{ url_for('static', filename='img/pinout.webp') }}" alt="GPIO Pins Diagram" width="50%">
  </div>

</body>
</html>