<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retriever</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css')}}">
    <link rel="icon" href="static/img/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
</head>
<body>
    <header class="retriever-logo">
        <a href="/">Go back</a>
        <figure class="logo-container">
            <img src="static/img/retrieverlogo.svg" alt="Retriever Logo">
        </figure>
    </header>

    <nav class="important-controls">
        <div class="time-elapsed">
            <p>Elapsed</p>
            <p id="time-played">00:00</p>
        </div>

        <div class="game-controls">
            <button id="media-popup" class="icon"><img src="static/img/media.svg" alt="Button to the media controls"></button>
            <button id="time-popup" class="icon"><img src="static/img/time.svg" alt="Button to time settings"></button>
            <button id="pi-popup" class="icon"><img src="static/img/pi.svg" alt="Button to Pi settings"></button>
            <button id="abort-button" class="icon"><img src="static/img/abort.svg" alt="Button to abort the room"></button>
        </div>

        <div class="time-remaining">
            <p>Remaining</p>
            <p id="time-left">60:00</p>
        </div>
    </nav>

    <section class="media-hidden hidden">
        <article class="media">
            <button class="close-media close"><img src="static/img/abort.svg" alt="Close button"></button>

            <h2>Media</h2>
            <div>
                <button id="select-file-button" class="button-style">Select Song</button>
                <a href="/media" class="button-style">Control media</a>

                <p id="music-list">
                    Music files will be dynamically added here
                </p>
            </div>
        </article>
    </section>

    <section class="time-hidden hidden">
        <article class="time">
            <button class="close-time close"><img src="static/img/abort.svg" alt="Close button"></button>

            <h2>Time controls</h2>

            <div class="time-display">

                <div class="timer">
                    <p>Played<strong id="time-played">00:00</strong></p>
                    <p>Left: <strong id="time-left">60:00</strong></p>
                </div>
                
                <div class="speed-display">
                    <p id="speed-display">Speed: 1x</p>
                </div>
            </div>

            <div class="time-controls">
                <div class="speed-up-slow-down">
                    <button id="speed-up-button" class="button-style main-button">Speed Up</button>
                    <button id="slow-down-button" class="button-style main-button">Slow Down</button>
                </div>
                <div class="reset-speed">
                    <button id="reset-button" class="button-style main-button">Reset Speed</button>
                </div>
            </div>
        </article>
    </section>

    <section class="pi-hidden hidden">
        <article class="pi">
            <button class="close-pi close"><img src="static/img/abort.svg" alt="Close button"></button>

            <h2>Pi controls</h2>

            <div class="reboot">
                <h3>Reboot</h3>

                <div class="pies">
                    <button id="reboot-pi-mag" class="button-style">Reboot maglock pi</button>
                    <button id="reboot-pi-music" class="button-style">Reboot music pi</button>
                    <button id="reboot-tree-pi" class="button-style">Reboot tree pi</button>
                </div>
            </div>

            <div class="backup">
                <h3>Backup</h3>

                <div class="pies">
                    <button id="backup-top-pi" class="button-style">Backup maglock pi</button>
                    <button id="backup-middle-pi" class="button-style">Backup music pi</button>
                    <button id="backup-tree-pi" class="button-style">Backup the tree pi</button>
                </div>
            </div>
                
            </div>
        </article>
    </section>

    <section class="game-hidden hidden">
        <article class="game-controls">
            <button class="close-game close"><img src="static/img/abort.svg" alt="Close button"></button>

            <h2>Game controls</h2>

            <div class="game-buttons">
                <button id="start-game-button" class="button-style">Start game</button>
                <!-- <button id="pause-button"><img class="icon" src="static/img/pause.svg" alt="Pause game button"></button>
                <button id="continue-button" style="display: none;"><img src="static/img/pause.svg" alt="Pause game button"></button> -->
                <button class=" abort-button button-style">Abort game</button>
            </div>

            <div class="abort hidden">
                <p>Are you sure you want to abort the game?</p>

                <button id="end-game-button" class="button-style">Yes, abort game</button>
            </div>

            <p class="confirmation hidden">Game aborted</p>
        </article>
    </section>

    <section class="control-container">

        <section class="locks">
            <h2>Locks</h2>

            <article class="lock-control">
                <div class="lock">
                    <p>entrance-door-lock</p>
                    <div class="lock-buttons">
                        <button class="turn-on-button icon" data-maglock="1"><img src="static/img/lock.svg" alt="Lock"></button>
                        <button class="turn-off-button icon" data-maglock="0"><img src="static/img/unlock.svg" alt="Unlock"></button>
                    </div>
                </div>

                <div class="lock">
                    <p>doghouse-lock</p>
                    <div class="lock-buttons">
                        <button class="turn-on-button icon" data-maglock="2"><img src="static/img/lock.svg" alt="Lock"></button>
                        <button class="turn-off-button icon" data-maglock="-1"><img src="static/img/unlock.svg" alt="Unlock"></button>
                    </div>
                </div>
            </article>
        </section>

        <section class="lock-status">
            <h2>Status</h2>

            <div class="status">
                <p>entrance-door-lock<strong id="maglock1-status">Locked</strong></p>
                <p>doghouse-lock<strong id="maglock2-status">Locked</strong></p>
            </div>
        </section>

        <a href="{{ url_for('pin_info') }}" class="pin-info button-style">GPIO pin information</a>

        <!-- <article class="media-play">
            <h2>Play media</h2>

            <div class="buttons">

                <div class="button-container">
                    <button id="select-file-button" class="button-style main-button">Select Song</button> -->
                    <!-- <button id="pause-music-button" class="button-style main-button">Pause Music</button> -->
                    <!-- <button id="resume-music-button" class="button-style main-button">Resume Music</button> -->
                    <!-- <button id="stop-music-button" class="button-style main-button">Force stop music</button>
                    <button id="add-music-button">Add media to the PI</button>
            <button onclick="openMediaControlPage()">Control Media</button>
                </div>
            </div>
        </article> -->

        <!-- Updaten van de aanwezige pi's en hun status -->

        <table id="status-table">
            <!-- Table will be populated dynamically -->
        </table>

        <div id="status-display"></div>
        <ul id="music-list">
            <div class="song-name">Something is playing!</div>
            <li>
                <button class="pause-button" data-file="${filename}" data-channel="${soundcard_channel}">Pause</button>
            </li>
            <div>Paused songs:</div>
            <div>Something is paused!</div>
            <li>
                <button class="resume-button" data-file="${filename}" data-channel="${soundcard_channel}">Resume</button>
            </li>
            
        </ul>

    </section>

    <footer>
        <img src="static/img/thebrinkescaperooms.svg" alt="The Brink Escaperooms">
    </footer>
    
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <h2>Sensor Status</h2>
    <div id="sensor-status-container"></div>
    <div id="ir-sensor-status-container"></div>

    <h1>Escape Room Tasks</h1>
    <ul id="task-list"></ul>

    <button id="add-task-button">Add Task</button>

<!-- Modal -->
<div id="task-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="task-name">Task Name:</label>
        <input type="text" id="task-name">
        <label for="task-description">Task Description:</label>
        <input type="text" id="task-description">
        <button id="save-task-button">Save Task</button>
    </div>
</div>
<button id="remove-task-button">Remove Task</button>

<!-- Modal for Task Removal -->
<div id="remove-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Select a Task to Remove</h2>
        <ul id="task-removal-list"></ul>
        <button id="confirm-remove-button">Confirm Removal</button>
    </div>
</div>
</body>
</html>